<div class="container">


<div style="float:left;"><h4><%= @article.headline %> <span class="badge danger"> <%= @word.size %></span>
</h4>
</div>
<div style="float:right; margin-right:30px;">
	<a href=javascript:history.back()>
		<button type="button" class="btn btn-info">戻る</button>
	
	</a>
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>pic</th>
			<th>account</th>
			<th>tweet</th>
		</tr>
	</thead>
	<tbody>
		<% @word.each do |t|%>
			<tr>
				<td><%= image_tag t[:user][:profile_image_url] ,class: "img-circle" %></td>		
				<td> <%= link_to t[:user][:name], "https://twitter.com/" + t[:user][:screen_name] %></td>
				<td> <%= t[:text] %></td>		
			</tr>
		<% end %>
	</tbody>
</table>



