<!DOCTYPE html>
<html ng-app="news">
  <head>
    <title>News</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  </head>

  <body>

  <div ng-controller="searchCtrl as search" >
        <!-- ナビゲーションパネル -->
        <%= render "layouts/nav" %>

        <% if session[:sidebar] %>
        <!-- コンテンツ（index） -->
            <%= yield %>


        <% else %>
          <div class="kijicontent">
              <%= yield %>
          </div>
        <% end %>

        <!-- フッター(footer) -->
        <div id="footer">
          <%= render "layouts/footer" %>
        </div>
  </div>



  </body>
</html>
